body {
    background-color:#432C35;
    color:#eee;
}

.header {
    border-bottom:3px solid #432C35;
}

.layout {
    background-color:#432C35;
}

a {
    color:#EC2A04;
}

a:hover {
    color:#50202D;
}

a:visited {
    color:#861B25;
}