body {
    background-color:#eee;
    color:#432C35;
}

.header {
    border-bottom:3px solid #eee;
}

.footer {
    border-top:3px solid #eee;
}

.layout {
    background-color:#fff;
}

a {
    color:#EC2A04;
}

a:hover {
    color:#50202D;
}

a:visited {
    color:#861B25;
}

.footer a {
    color:#432C35;
    border-bottom:1px solid #432C35;
}