.layout {
    margin:0 auto;
    width:1008px;
}

.layout:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.header {
    width:100%;
    margin-bottom:18px;
    float:left;
}

.footer {
    width:100%;
    padding:18px;
    margin-top:18px;
    float:left;
}

.content {
    float:left;
    width:100%;
    margin-top:18px;
    margin-bottom:18px;
}

.col {
    float:left;
    margin-left:9px;
    margin-right:9px;
    margin-bottom:18px;
}

.col-4 {
    width:990px;
}

.col-3 {
    width:756px;
}

.col-2 {
    width:486px;
}

.col-1 {
    width:233.5px;
}