<!DOCTYPE html>
<html>
<head>
	<title>Broadsheet</title>
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">	
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/css/broadsheet.reset.css">	
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/css/broadsheet.grid.css">
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/css/broadsheet.header.css">	
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/css/broadsheet.typography.css">
	<script type="text/javascript" src="/assets/js/jquery.base.js"></script>	
	<script type="text/javascript" src="/assets/js/jquery.masonry.js"></script>
	<script type="text/javascript" src="/assets/js/broadsheet.layout.js"></script>
</head>
<body>
  <div class="layout">
	<div class="header">
		<h1>~ Broadsheet ~</h1>
		<p>Delivering personal news since 2011.</p>
	</div>
	<div class="content">
	{% for link in links %}
	
		<div class="col col-1">
			<h2><a href="{{ link.url }}">{{ link.title }}</a></h2>
			<div class="summary">
				<p>{{ link.summary|capfirst|removetags:"img" }}</p>
			</div>
		</div>
	
	{% endfor %}
	</div>
	<div class="footer">
		<p>&copy; 2011, <a href="http://maetl.net/">maetl</a> | Powered by <a href="http://github.com/maetl/Broadsheet">Broadsheet</a></p>
	</div>
  </div>
</body>
</html>