<!DOCTYPE html>
<html>
<head>
	<title>More Short Links</title>
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">	
	<link rel="stylesheet" media="screen" type="text/css" href="/assets/broadsheet.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>	
	<script type="text/javascript" src="/assets/broadsheet.js"></script>
</head>
<body>
  <div class="layout">
	<div class="header">
		<h1>~ More Short Links ~</h1>
		<p>Delivering personalized news since 2011.</p>
	</div>
	<div class="content">
	{% if links %}
	  {% for link in links %}
		<div class="col {{ link.col }}">
			<h2><a href="{{ link.href }}">{{ link.title }}</a></h2>
			<p class="posted">Posted {{ link.updated|since }} at <span class="source"><a href="{{ link.source_href }}">{{ link.source }}</a></span></p>			
			<p class="summary">{{ link.summary|capfirst|removetags:"img p" }}</p>
		</div>
	  {% endfor %}
	{% else %}
		<div class="col col-4 warning">
			<h2>No headlines available</h2>
			<p>You might want to import links from sources using the Cron tasks.</p>
		</div>
	{% endif %}
	</div>
	<div class="footer">
		<p>Created by <a href="http://maetl.net/">maetl</a>. Powered by <a href="http://github.com/maetl/Broadsheet">Broadsheet</a>.</p>
	</div>
  </div>
</body>
</html>